#root { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.blueText{
  color: #0f1941;
}

.swiper {
  width: 100%;
  min-height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 250px;
  object-fit: cover;
}
.swiper-button-prev, .swiper-button-next{
  top: 30%;
}
.ukrajinaMain{
  background-color: #0f1941;
  min-height: 100vh;
}
#gpsImg{
  height: 300px;
  margin: 0 auto;
  max-height: 100%;
  width: auto;
}
#btnHledej{
  width: 100%;
  height: 60px;
  background-color: #0f1941;
  margin-bottom: 60px;
}
.lokalita{
  display: block;
}
form{
  display: block;
  }
.footerList ul{
  list-style: none;
}  
.footerList ul li{
  color: #878ca0;
  line-height: 3;
}
.footerList ul li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.footerList{
  margin: auto;
  padding-top: 100px;
  display: none;
}
.divider{
  width: 100%;
  background-color: rgba(32, 32, 32, 0.664);
  height: 1px;
  /* margin-bottom: 30px; */
}
#accordionExample{
  padding: 10px;
  display: block;
}
.accordion-button{
  background-color: #0f1941;
  color: #fff;
  outline: none;
}
.accordion{
--bs-accordion-border-color:none;
--bs-accordion-btn-focus-box-shadow:none;
}
.accordion-button:not(.collapsed){
  background-color:#0f1941;
  color:#fff;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius:0;
  border-bottom-left-radius: 0;
}
.accordion-body{
  background-color:#0f1941;
  color:#6b718a;
}
.accordion-body ul{
  list-style: none;
}
.accordion-body ul li{
  line-height: 2; 
}
.accordion-body ul li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.footer-list ul{
  list-style: none;
}
.footer-list ul li{
  line-height: 2;
  color: #6b718a;
  font-size: 1rem;
}
.footer-list ul li:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* .ukrajinaLow{
  display: flex;
  justify-content: center;
  align-items: center;
} */
@media only screen and (min-width: 926px) {
  .ukrajinaMain{
    min-height: 80vh;
  }
  .ukrajinaLow {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .ukrajinaLow h2 {
    padding-top: 100px;
  }
  .ukrajinaLogo{
    width: 100%;
  }
  .lokalita{
    display: flex;
    flex-direction: row-reverse;
  }
  form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #btnHledej{
    margin-bottom: 0;
  }
  .footerList{
    display: flex;
  }
  #najitLokalitu{
    padding-top: 50px;
  }
  #gpsImg{
    height: 400px;
  }
  #accordionExample{
    display: none;
  }
}
