#root {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 300 !important;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.blueText {
  color: #0f1941;
}

.swiper {
  width: 100%;
  min-height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 250px;
  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  top: 30%;
}
.ukrajinaMain {
  background-color: #0f1941;
  min-height: 100vh;
}
#gpsImg {
  height: 300px;
  margin: 0 auto;
  max-height: 100%;
  width: auto;
}
#btnHledej {
  width: 100%;
  height: 60px;
  background-color: #0f1941;
  margin-bottom: 60px;
}
.lokalita {
  display: block;
}
form {
  display: block;
}
.footerList ul {
  list-style: none;
}
.footerList ul li {
  color: #878ca0;
  line-height: 3;
}
.footerList ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footerList {
  margin: auto;
  padding-top: 100px;
  display: none;
}
.divider {
  width: 100%;
  background-color: hsla(0, 0%, 45.9%, 0.66);
  height: 1px;
  /* margin-bottom: 30px; */
}
#accordionExample {
  padding: 10px;
  display: block;
}
.accordion-button {
  background-color: #0f1941;
  color: #fff;
  outline: none;
}
.accordion {
  --bs-accordion-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: #0f1941;
  color: #fff;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion-body {
  background-color: #0f1941;
  color: #6b718a;
}
.accordion-body ul {
  list-style: none;
}
.accordion-body ul li {
  line-height: 2;
}
.accordion-body ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer-list ul {
  list-style: none;
}
.footer-list ul li {
  line-height: 2;
  color: #6b718a;
  font-size: 1rem;
}
.footer-list ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.kategorieMain {
  background-color: #f7f5f0;
}
.kategorie-list ul {
  list-style: none;
  padding-left: 0rem !important;
}
.kategorie-list ul li {
  line-height: 2;
  color: #0f1941;
  font-size: 1.25rem;
  font-weight: 300;
}
.accordion-menu-button {
  background-color: #f7f5f0;
  color: #0f1941;
}
.accordion-menu-button:not(.collapsed) {
  background-color: #f7f5f0;
  color: #0f1941;
}
.modal {
  --bs-modal-bg: #f7f5f0;
}
.accordion-menu-body {
  background-color: #f7f5f0;
  color: #0f1941;
}
.kategorie-list ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.magnetMain {
  display: block;
  min-height: 80vh;
}
#magnetIcon {
  width: 100%;
}
.poradnaImage {
  display: block !important;
  width: 300px !important;
  height: 100% !important;
  min-height: 250px !important;
  object-fit: cover !important;
}
.flexShrink div div div {
  flex-shrink: 1 !important;
  cursor: pointer;
}
.rovnostMain {
  display: block;
}
.rovnostText {
  width: 100% !important;
  padding: 0 20px !important;
  /*  text-align: justify !important; */
}
.mySwapper2 {
  width: 60vw;
}
.blueBtn {
  color: #0f1941;
  border-color: #0f1941;
}
.blueBtn:hover {
  color: white;
  background-color: #0f1941;
}
.hledateMain a {
  font-size: 20px !important;
  text-decoration: none !important;
}
.menuMain {
  min-height: 400px;
  background-color: #0f1941;
  color: #fff;
}
.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar {
  justify-content: end !important;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .ukrajinaLow{
  display: flex;
  justify-content: center;
  align-items: center;
} */
@media only screen and (min-width: 926px) {
  .ukrajinaMain {
    min-height: 80vh;
  }
  .ukrajinaLow {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .ukrajinaLow h2 {
    padding-top: 100px;
  }
  .ukrajinaLogo {
    width: 100%;
  }
  .lokalita {
    display: flex;
    flex-direction: row-reverse;
  }
  form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #btnHledej {
    margin-bottom: 0;
  }
  .footerList {
    display: flex;
  }
  #najitLokalitu {
    padding-top: 50px;
  }
  #gpsImg {
    height: 400px;
  }
  #accordionExample {
    display: none;
  }

  .magnetMain {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rovnostMain {
    display: flex;
    flex-direction: row-reverse;
  }
  .rovnostImg {
    height: 100% !important;
    margin-top: 0 !important;
    object-fit: cover;
    object-position: right;
    width: 100% !important;
  }
  .rovnostText {
    width: 80% !important;
    text-align: justify;
    padding: 50px !important;
  }
  .poradnaMain {
    display: flex;
    align-items: center;
  }
  .kdojsmeMain {
    flex-direction: row !important;
  }
  #kdojsmeText {
    font-size: 36px;
    margin-top: 0 !important;
  }

  #kdojsmeh {
    width: 20vw;
    align-items: flex-start !important;
  }
  #jsme {
    width: 60vw;
  }
  #jsme h2 {
    font-size: 40px;
  }
  #hamburger {
    display: none;
  }
}
